

.MuiChip-root {
  colorPrimary: #ff0000 ;
  color: red;
}



#autocomplete {
  width: 50%;
  margin: auto;
}

#container {
  width: 80%;
  margin: auto;
}

#loading {
  position: absolute;
  margin: auto;
  left: calc(50% - 64px/2);
  top: calc(50% - 64px/2);
}



.ql-editor{
  min-height:300px;
}


table {

  border-collapse: collapse;
  margin:auto;
  text-align:center;
  border-bottom: 1px solid #3366ff;
  table-layout: fixed;
  width: 95%;



}



th : {
  border: 1px solid black;
  border: none;
    }
      td {

      min-width:200px;
        border-top: 1px solid #3366ff;
          }


   tr : {
     min-width:200px;
     height: 200px;
       border-bottom: 1px solid #3366ff;
}

tr:nth-child(even) {
  background: #e6e6e6;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

tr:hover {
     background-color: #e6f5ff;
   }
