body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}





#home_icons {
  position: fixed;
  top: calc(50% - 128px/2);
  left: calc(50% - 256px/2);
}


#autocomplete {
  width: 50%;
  margin: auto;
}

#container {
  width: 96%;
  margin: auto;
}

#loading {
  position: absolute;
  margin: auto;
  left: calc(50% - 64px/2);
  top: calc(50% - 64px/2);
}



.ql-editor{
  min-height:300px;
  color: black;
  }


table {

  border-collapse: collapse;
  margin:auto;
  text-align:center;
  border-bottom: 1px solid #3366ff;
  table-layout: fixed;
  width: 95%;

}


 th : {
  border: 1px solid #3366ff;
    }

     td {

      min-width:200px;
        border-top: 1px solid #3366ff;
          }


   tr : {


       border-bottom: 1px solid #3366ff;
}

tr:nth-child(even) {
  background: #e6e6e6;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

 tr:hover {
     background-color: #e6f5ff;
   }


/* login */
#loginform {
  position: relative;
  top: 50px;
  left: calc(50% - 300px/2);
  height: 300px;
  width: 300px;
}

.MuiTextField-root {
  width: 300px;
}
/* login end */


/* header */
#header {
  text-align: center;
  width: 300px;
  left: calc(50% - 300px/2);
  font-family: Arial, Helvetica, sans-serif;
  color: #120F7E;
  font-size: 20px;
  position: absolute;
}


/* header end */
