body {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}


div.home_icons {
  position: relative;
  left: calc(50% - (700px/2));
  top: 200px;
  width: 700px;
}



#autocomplete {
  width: 50%;
  margin: auto;
}

#container {
  width: 95%;
margin: auto;
}

#loading {
  position: absolute;

  left: calc(50% - 64px/2);
  top: calc(50% - 64px/2);
}



.ql-editor{
  min-height:300px;
  color: black;
  }


table {

  border-collapse: collapse;

  text-align:center;
  border-bottom: 1px solid #2196f3;
  table-layout: fixed;
  width: 100%;

}


 th : {
  border: 1px solid #2196f3;
    }

     td {

      min-width:200px;
        border-top: 1px solid #2196f3;
          }


   tr : {
       border-bottom: 1px solid #2196f3;
}

tr:nth-child(even) {
  background: #e6e6e6;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

tr:hover {
    background-color: #e6f5ff;
  }

  hr {
    border-top: 1px solid #2196f3;
  }



/* login */
#loginform {
  position: relative;
  top: 50px;
  left: calc(50% - 300px/2);
  height: 300px;
  width: 300px;
}

.MuiTextField-root {
  width: 300px;
}
/* login end */


/* header */
#header {
  text-align: center;
  width: 300px;
  left: calc(50% - 300px/2);
  font-family: Arial, Helvetica, sans-serif;
  color: #120F7E;
  font-size: 20px;
  position: absolute;
}


table#issuedisplaytab {

 min-height:400px;
text-align:left;
     }



/* header end */
/* Snow Theme */

.quill {
  border: 1px solid #2196f3;
}

div.bottom_navi {
  position: fixed;
  top: 10px;
  right: 5px;
  width: 100px;
  background: #f2f2f2;
}

div.footer {
  position: fixed;
  bottom: 0px;
  width: 95%;
  float: bottom;
  font-size: 12px;
  text-align: center;
margin-left: 2%;
  color:  #404040;
  background: #f2f2f2;
}

div.help {
  position: relative;
  width: 80%;
  text-align: left;
  margin: 50px;
}
