body {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}


div.home_icons {
  position: relative;
  left: calc(50% - (35%/2));
  top: 80px;
  width: 35%;
}

div.navi {
  position: absolute;
  width: 50px;
  top: 10px;
  left: 5px;
  width: 100px;
}

#autocomplete {
  width: 50%;
  margin: auto;
}

#container {
  width: 95%;
margin: auto;
}

#loading {
  position: absolute;

  left: calc(50% - 64px/2);
  top: calc(50% - 64px/2);
}



.ql-editor{
  min-height:300px;
  color: black;
  }


table {

  border-collapse: collapse;

  text-align:left;
  border-bottom: 1px solid #2196f3;
  table-layout: fixed;
  width: 100%;

}


 th  {
        text-align: center;
    }

     td {

      min-width:200px;
        border-top: 1px solid #2196f3;
        text-align: center;
        padding-left: 10px;
          }


   tr  {
       border-bottom: 1px solid #2196f3;
     }

tr:nth-child(even) {
  background: #e6e6e6;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

#issuelist tr:hover {
    background-color: #e6f5ff;
  }

#issuedisplaytab  table {

    border-collapse: collapse;
    text-align:left;
    border-bottom: 1px solid #2196f3;
    table-layout: fixed;
    width: 100%;

  }


#issuedisplaytab td {

  min-width:200px;
  border-top: 1px solid #2196f3;
  text-align: left;
  padding-left: 10px;
  }

#issuedisplaytab  th  {
        text-align: left;
    }

  hr {
    border-top: 1px solid #2196f3;
  }

/* login */
#loginform {
  position: relative;
  top: 50px;
  left: calc(50% - 300px/2);
  height: 300px;
  width: 300px;
}

.MuiTextField-root {
  width: 300px;
}
/* login end */


#header {

width: 100%;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #120F7E;
  font-size: 20px;
  position: absolute;

}


table#issuedisplaytab {

 min-height:400px;
text-align:left;
     }


.quill {
  border: 1px solid #2196f3;

}

.ql-editor {
  font-size: 16px;

}



div.bottom_navi {
  position: fixed;
  top: 10px;
  right: 5px;
  width: 100px;
  background: #f2f2f2;
}

div.footer {
  position: fixed;
  bottom: 0px;
  width: 95%;
  float: bottom;
  font-size: 12px;
  text-align: center;
margin-left: 2%;
  color:  #404040;
  background: #f2f2f2;
}

div.help {
  position: relative;
  width: 80%;
  text-align: left;
  margin: 50px;
}
